.capsule:hover {
    color: var(--primary-color) !important;
}


html:has(span.light) .capsule {
    background-color: #fff;
    border: 2px solid #1a1f3c26;
}

html:has(span.dark) .capsule {
    background: #d2d2e62e;
    border: 2px solid #b1b5bb69;
}

html:has(span.dark) .capsule.selected {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 700;
    color: #fff !important;
}

html:has(span.light) .capsule.selected {
     background-color: var(--primary-color);
     border-color: var(--primary-color);
     font-weight: 700;
     color: #fff !important;
}

label {
    font-size:.875rem;
    margin-bottom: .25rem;
    height: auto;
    min-height: 1.5rem;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.container {
    background: radial-gradient(#78828f33, #89929714);
    border: 2px solid #757e834d;
    border-radius: .5rem;
    width: 100%;
    padding: .3rem;
    grid-template-columns:repeat(auto-fit,minmax(4.5rem,1fr));
    gap:.2rem;
    max-width:100%;
    display:grid
}

.capsule {
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    text-transform: none;
    width: auto;
    cursor: pointer;
    user-select: none;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 400;
    height: 2rem;
    min-height: 2rem;
    max-width: 736px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 9999px;
    padding:2px!important
}

.capsule.selectall {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.vazia{background: var(--primary-color)}
.vazia p {margin: 0;height: 2rem;line-height: 2rem;
    text-align: center;}